@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@277&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-image: url('wavy2.png');
  background-size: cover;
  background-size: 100%;
}

a{
    text-decoration: none;
    color:white;
    padding:10px;
    border: 1px solid rgb(255, 255, 255,0);
    transition: border 0.3s ease;
}
a:hover{
    border: 1px solid rgba(255, 255, 255,1);
}

@media only screen and (orientation:landscape) {
  .nadpis {
    display: flex;
    font-size: 100px;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    justify-content: center;
  }
  span {
    position: sticky;
    top: calc(150px);
    height: 100px;
    display: inline-flex;
    align-items: left;
    font-family: 'Manrope', sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 120px;
  }
  .topnav{
    position: static;
    right: 20px;
    padding: 2%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 0;
    padding-right: 2%;
    float: top;
    font-size: 2vw;
    font-family: 'Manrope', sans-serif;
    color: rgb(255, 255, 255);
  }
  .podcastBox{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 12% 44% 44%;
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
  }

  .introText{
    font-family: 'Manrope', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    padding-top: 25vh;
    padding-bottom: 25vh;
    text-align: center;
  }

  .c1 {
    margin-top: 23vw;
  }
  
  .c2 {
    margin-top: 28vw;
  }
  
  .c3 {
    margin-top: 12vw;
  }
  
  .c4 {
    margin-top: 20vw;
  }
  
  .c5 {
    margin-top: 10vw;
  }
  
  .c6 {
    margin-top: 30vw;
  }
  
  .c7 {
    margin-top: 19vw;
  }
  
  .c8 {
    margin-top: 35vw;
  }
  
  .c9 {
    margin-top: 10vw;
  }
  
  .c10 {
    margin-top: 15vw;
  }
  
  .c11 {
    margin-top: 20vw;
  }
  .box {
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 2vw;
    font-family: 'Manrope', sans-serif; 
  }
}
@media only screen and (orientation:portrait) {
  .nadpis {
    size: 50%;
    display: flex;
    font-size: 100px;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    justify-content: center;
  }
  span {
    position: sticky;
    top: calc(150px);
    height: 100px;
    display: inline-flex;
    align-items: left;
    font-family: 'Manrope', sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 60px;
  }
  .topnav{
    position: static;
    right: 20px;
    padding: 2%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 0;
    padding-right: 2%;
    float: top;
    font-size: 4vw;
    font-family: 'Manrope', sans-serif;
    color: rgb(255, 255, 255);
  }
  .podcastBox{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
  }

  .introText{
    font-family: 'Manrope', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 2.5vh;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
    padding-top: 25vh;
    padding-bottom: 25vh;
    text-align: center;
  }

  .c1 {
    margin-top: 46vw;
  }
  
  .c2 {
    margin-top: 56vw;
  }
  
  .c3 {
    margin-top: 24vw;
  }
  
  .c4 {
    margin-top: 40vw;
  }
  
  .c5 {
    margin-top: 20vw;
  }
  
  .c6 {
    margin-top: 60vw;
  }
  
  .c7 {
    margin-top: 38vw;
  }
  
  .c8 {
    margin-top: 70vw;
  }
  
  .c9 {
    margin-top: 20vw;
  }
  
  .c10 {
    margin-top: 30vw;
  }
  
  .c11 {
    margin-top: 40vw;
  }
  .box {
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 4vw;
    font-family: 'Manrope', sans-serif; 
  }  
}


.spacer{
    height: 15vw;
    margin-bottom: 100px;
}

h1{
    font-size: 32px;
    font-family: 'Manrope', sans-serif;
    color: black;
}

h2{
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    color: black;
}

.podcastTitle {
    grid-column: 2 / 4 ;
    grid-row: 1;
    padding: 10px;
    font-size: 58%;   
}
.podcastDescription {
    grid-column: 1 / 4 ;
    grid-row: 2 ;
    font-size: 20%;  
    padding: 6px;
}
.podcastPlayer {
    grid-column: 1 / 4 ;
    grid-row: 3 ;
    font-size: 20%;
    padding: auto;
}
.podcastPhoto {
  text-align: center;
  padding: 0px;
  grid-column: 1 / 1;
  grid-row: 1;
  filter: brightness(1000);
} 

/* width */
::-webkit-scrollbar {
width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(212, 212, 212);
}



input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: -webkit-box;
  display: flex;
}
.row .col {
  -webkit-box-flex: 1;
          flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  overflow: hidden;
  width: 98%;
  font-family: 'Manrope', sans-serif;
}

.tab {
  width: 100%;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1em;
  font-size: 1.5em;
  /* background: #2a2a2a; */
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  /* Icon */
}
.tab-label:hover {
  border-bottom: 1px solid white;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2a2a2a;
  background: rgba(0, 0, 0, 0.356);
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  cursor: pointer;
}
.tab-close:hover {
  background: #ffffff2f;
}

input:checked + .tab-label {
  background: #000000;
  border: 1px solid white;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

